form(name='moduleForm')
  .row
    .col-sm-4
      .form-group
        label Name
        input.form-control(
          type='text', placeholder='e.g. Kitchen Light'
          ng-model='module.$attributes.name'
          ng-required
        )

    .col-sm-4
      .form-group
        label Type
        select.form-control(
          ng-model='module.$attributes.type.id'
          ng-options='type.$attributes.id as type.$attributes.name for type in types'
        )

    .col-sm-4
      .form-group
        label Group
        select.form-control(
          ng-model='module.$attributes.group.id'
          ng-options='group.id as group.name for group in groups'
        )
  .row
    .col-sm-4
      .form-group
        label Chip ID
        input.form-control(
          type='text', placeholder='#######'
          ng-model='module.$attributes.chip'
        )
        
    .col-sm-4
      .form-group
        label IP Address
        input.form-control(
          type='text', placeholder='###.###.###.###'
          ng-model='module.$attributes.ip'
        )

.well
  h2 {{module.$attributes.name}}
  
  hr

  .form-group(ng-repeat='value in module.$attributes.type.attributes')
    label(for='{{value.name}}') {{value.label}}
    div(ng-switch='value.type')

      //- Float
      div(ng-switch-when='float')
        .row
          .col-xs-4
            input(
              type='range', name='{{value.name}}', id='{{value.name}}'
              ng-model='module.$attributes.values[value.name]'
              ng-model-options='{debounce:200}'
              min='value.min', max='value.max'
            )
            span {{module.$attributes.values[value.name]}}{{value.metric}}

      div(ng-switch-when='boolean')
        .checkbox
          label(for='{{value.name}}')
            input(
              type='checkbox', name='{{value.name}}', id='{{value.name}}'
              ng-model='module.$attributes.values[value.name]'
            )
            span {{value.options[1].label}}

      div(ng-switch-when='radios')
        label.radio-inline(ng-repeat='option in value.options')
          input(
            type='radio', name='{{value.name}}',
            ng-model='module.$attributes.values[value.name]'
          )
          span {{option.label}}


.form-group
  a.btn.btn-primary(
    ng-click='save()'
    ng-show='module.$new()'
  ) Save
  a.btn.btn-default(ui-sref='modules') Cancel
  a.btn.btn-danger(
    ng-click='delete()'
    ng-show='module.$old()'
  ) Delete
