.well
  h2 {{module.name}}

  .form-group(ng-repeat='value in module.type.attributes')
    label(for='{{value.name}}') {{value.label}}
    div(ng-switch='value.type')

      //- Float
      div(ng-switch-when='float')
        .row
          .col-xs-4
            input(
              type='range', name='{{value.name}}', id='{{value.name}}'
              ng-model='module.values[value.name]'
              min='value.min', max='value.max'
            )

            {{module.values[value.name]}}{{value.metric}}

      div(ng-switch-when='boolean')
        .checkbox
          label(for='{{value.name}}')
            input(
              type='checkbox', name='{{value.name}}', id='{{value.name}}'
              ng-model='module.values[value.name]'
            )
            {{value.options[1].label}}

      div(ng-switch-when='radios')
        label.radio-inline(ng-repeat='option in value.options')
          input(
            type='radio', name='{{value.name}}',
            ng-model='module.values[value.name]'
          )
          span {{option.label}}

form.form-horizontal(name='moduleForm')
  fieldset
    .form-group
      label.control-label.col-md-2 Name
      .col-md-10
        input.form-control(
          type='text'
          ng-model='module.name'
          ng-required
        )

    .form-group
      label.control-label.col-md-2 Type
      .col-md-10
        select.form-control(
          ng-model='module.type.id'
          ng-options='type.id as type.name for type in types'
        )

    .form-group
      label.control-label.col-md-2 Group
      .col-md-10
        select.form-control(
          ng-model='module.group.id'
          ng-options='group.id as group.name for group in groups'
        )

  fieldset
    .form-group
      .col-md-offset-2.col-md-10
        a.btn.btn-primary(ng-click='save()') Save
        a.btn.btn-default(ng-click='cancel()') Cancel
        a.btn.btn-danger(ng-click='delete()') Delete