.panel.panel-primary
  .panel-heading
    a.close(ng-click='remove()') ×
    h3.panel-title {{method.label}}

  .panel-body
    .form-group
      .col-md-6
        input.form-control(
          type='text', name='name', placeholder='Name'
          ng-model='method.name'
        )

      .col-md-6
        input.form-control(
          type='text', name='label', placeholder='Label'
          ng-model='method.label'
        )

    hr

    .list-group
      .list-group-item(
        ng-repeat='attribute in method.arguments'
        ng-controller='ModuleTypeAttributeController',
        ng-include='"views/moduletypes/attribute.html"'
      )

    a.btn.btn-default.btn-xs(ng-click='addArgument()') Add Argument