form.form-horizontal(name='moduleForm')
  fieldset
    .form-group
      label.control-label.col-md-2 Name
      .col-md-10
        input.form-control(type='text'
          ng-model='active.name'
          ng-required='ng-required'
        )

    hr

    .form-group
      label.control-label.col-md-2 Attributes
      .col-md-10
        div(
          ng-repeat='attribute in active.attributes'
          ng-controller='ModuleTypeAttributeController'
          ng-include='"views/moduletypes/attribute.html"'
        )
        a.btn.btn-default(ng-click='addAttribute()') Add Attribute

    hr

    .form-group
      label.control-label.col-md-2 Methods
      .col-md-10
        div(
          ng-repeat='method in active.methods'
          ng-controller='ModuleTypeMethodController'
          ng-include='"views/moduletypes/method.html"'
        )

        a.btn.btn-default(ng-click='addMethod()') Add Method

  hr

  fieldset.buttons
    .form-group
      .col-md-offset-2.col-md-10
        a.btn.btn-primary(ng-click='save()') Save
        a.btn.btn-default(ng-click='cancel()') Cancel
        a.btn.btn-danger(ng-click='delete()') Delete
