h1 Modules

.row
  .col-md-4
    .list-group
      a.list-group-item(
        ng-click='activate(module)',
        ng-repeat='module in modules',
        ng-class='{"active":isActive(module)}'
      )
        span.badge {{module.group.name}}
        h3.list-group-item-heading {{module.name}}

    a.btn.btn-primary(ng-click='new()') New

  .col-md-8(
    ng-controller='ModuleController',
    ng-include='"views/modules/module.html"',
    ng-if='module'
  )