h1 Types

.row
  .col-md-4
    .list-group(ng-show="types.length > 0")
      a.list-group-item(
        ng-repeat="type in types",
        ng-click="activate(type)"
      )
        h3.list-group-item-heading {{type.name}}

    .well(ng-show="types.length < 1") No types...

    a.btn.btn-primary(ng-click="new()") New

  .col-md-8(
    ng-controller="ModuleTypeController",
    ng-include="'views/moduletypes/moduletype.html'",
    ng-if="active"
  )