h1 Rules

.row
  .col-md-4
    .list-group
      a.list-group-item(
        ng-repeat="rule in rules",
        ng-href="/#/rules/{{rule.id}}"
      )
        h4.list-group-item-heading {{rule.name}}
        p.list-group-item-text
          span {{rule.conditions.length}}
          span(ng-pluralize,
            count="rule.conditions.length",
            when="{'one': 'Condition', 'other': 'Conditions'}"
          )

          span ,

          span {{rule.actions.length}}
          span(ng-pluralize,
            count="rule.actions.length",
            when="{'one': 'Action', 'other': 'Actions'}"
          )

    a.btn.btn-primary(ng-click="new()") New

    .col-md-8(
      ng-controller="RuleController",
      ng-include="'views/rules/rule.html'",
      ng-if="rule"
    )