.panel.panel-default
  .panel-heading
    a.close(ng-click='removeAction(action)') ×
    h4.panel-title Action {{$index + 1}}

  .panel-body
    .form-group
      .form-inline
        | Then
        select.form-control(
          ng-options='module.$attributes.id as module.$attributes.name group by module.$attributes.type.name for module in modules',
          ng-model='action.module'
        )

        select.form-control(
          ng-options='method.name as method.label for method in methods',
          ng-model='action.method',
          ng-show='action.module'
        )

        span(ng-repeat='argument in method.arguments')
          | {{argument.label}}

          span(ng-switch='argument.type')
            //-
            //- Boolean
            //-
            span(ng-switch-when='boolean')
              select.form-control(
                ng-model='action.arguments[$index]',
                ng-options='option.value as option.label for (key,option) in argument.options'
              )

            //-
            //- Float
            //-
            span(ng-switch-when='float')
              input.form-control(
                name='{{argument.name}}', type="number"
                ng-model='action.arguments[$index]'
              )
              | {{argument.metric}}
