.panel.panel-default
  .panel-heading
    a.close(ng-click='removeAction(action)') ×
    h4.panel-title Action {{$index + 1}}

  .panel-body
    .form-group
      .form-inline
        | Set
        select.form-control(
          ng-options='module.$attributes.id as module.$attributes.name group by module.$attributes.type.name for module in modules',
          ng-model='action.module'
        )

        select.form-control(
          ng-options='attribute.name as attribute.label for attribute in attributes',
          ng-model='action.attribute',
          ng-show='action.module'
        )

        span(ng-show='action.attribute')
          | to
          span(ng-switch='attribute.type')

            //- Boolean
            span(ng-switch-when='boolean')
              select.form-control(
                ng-options='option.value as option.label for option in attribute.options',
                ng-model='action.arguments[0]'
              )

            //- Number
            span(ng-switch-when='number')
              span(ng-show='action.operator')
                input.form-control(
                  type="number"
                  ng-min="attribute.min"
                  ng-max="attribute.max"
                  ng-model="action.arguments[0]"
                )

                span(ng-show='action.operator == "> x <"')
                  | and
                  input.form-control(
                    type='number',
                    ng-min='attribute.min',
                    ng-max='attribute.max',
                    ng-model='action.arguments[1]'
                  )

                | {{attribute.metric}}

            //- String
            span(ng-switch-when='string') String

            //- Color
            span(ng-switch-when='string') Color

            //- Radios
            span(ng-switch-when='radios') Radios

            //- Checkboxes
            span(ng-switch-when='checkboxes') Checkboxes
