.form-group
  input.form-control.input-lg(placeholder='New Rule', ng-model='rule.name')

  .form
    h3 Conditions
    p.lead.form-inline
      | Match
      select.form-control(required='required', ng-model='rule.operator')
        option(value='&&') all
        option(value='||') any
      | of the following condition(s):

    div(
      ng-repeat='condition in rule.conditions'
      ng-controller='RuleConditionController'
      ng-include='"views/rules/condition.html"'
    )

    a.btn.btn-default.btn-sm(ng-click='addCondition()') Add Condition

    hr

    h3 Actions
    div(
      ng-repeat='action in rule.actions'
      ng-controller='RuleActionController'
      ng-include='"views/rules/action.html"'
    )

    a.btn.btn-default.btn-sm(ng-click='addAction()') Add Action

    hr

    a.btn.btn-primary(ng-click='save()') Save
    a.btn.btn-default(ng-click='cancel()') Cancel
    a.btn.btn-danger(ng-click='delete()') Delete
